{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <!-- 1. skin -->
    <link rel="stylesheet" href="{% static 'releases.flowplayer.org/6.0.4/skin/functional.css' %}">
     
    <!-- 2. jquery library - required for video tag based installs -->
    <script src="{% static 'code.jquery.com/jquery-1.11.2.min.js' %}"></script>
     
    <!-- 3. flowplayer -->
    <script src="{% static 'releases.flowplayer.org/6.0.4/flowplayer.min.js' %}"></script>
</head>
<body>
    <p>
        <a href="/browse/dir/{{file.basedir.id}}">Parent Dir</a> |
        <a href="/browse/raw/file/{{file.id}}">Download</a> the file "{{file.file_path}}""(<i>{{file.mime_type}}</i>)
    </p>
    <div id="player" style="width:100%; height:90vh;"></div>
    <script>
        // select the above element as player container
        var container = document.getElementById("player");
         
        // install flowplayer into selected container
        flowplayer(container, {
            clip: {
                sources: [
                      { type: "{{file.mime_type}}",
                        src:  "/browse/raw/file/{{file.id}}" }
                ]
            },
            canvas: {backgroundColor: "transparent"},

            plugins: {
               controls: {
                  durationColor: '#a3a3a3',
                  borderRadius: '0px',
                  volumeBorder: '1px solid rgba(128, 128, 128, 0.7)',
                  volumeColor: '#ffffff',
                  autoHide: 'never',
                  backgroundColor: '#222222',
                  buttonColor: '#ffffff',
                  progressColor: '#112233',
                  tooltipColor: '#000000',
                  bufferColor: '#445566',
                  timeSeparator: ' ',
                  disabledWidgetColor: '#555555',
                  sliderColor: '#000000',
                  backgroundGradient: [0.5,0,0.3],
                  volumeSliderGradient: 'none',
                  timeBgColor: 'rgb(0, 0, 0, 0)',
                  buttonOffColor: 'rgba(130,130,130,1)',
                  progressGradient: 'none',
                  volumeSliderColor: '#ffffff',
                  buttonOverColor: '#ffffff',
                  callType: 'default',
                  tooltipTextColor: '#ffffff',
                  timeBorder: '0px solid rgba(0, 0, 0, 0.3)',
                  bufferGradient: 'none',
                  timeColor: '#ffffff',
                  sliderBorder: '1px solid rgba(128, 128, 128, 0.7)',
                  sliderGradient: 'none',
                  height: 24,
                  opacity: 1.0
               }
            }
        });
    </script>

</body>
